:global(body) {
  background-color: white;
  color: black;
  transition: background-color 0.3s;
}
:global(body.dark-mode) {
  background-color: #1b262c;
  color: #bfc2c7;
}
:global(body.dark-mode) .day {
  background-color: #1b262c;
  color: #bfc2c7;
}
:global(body) .day {
  background-color: #dae0e2;
  color: black;
}
